* {
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body{ 
	background: url(../../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
	height: 100%;
	font-size: 20px;
}

.wrapper {
	padding: 0 1em;
	max-width: 1024px;
	margin: 0 auto;
}
img {
	width: 200px;
}

.search-result {
	border: 1px solid red;
}

.preloader {
	display: none;
}