@font-face {
    font-family: KOMIKAX;
    src: url(../../fonts/KOMIKAX_.ttf);
}
* {
	box-sizing: border-box;
}
body{
	background: #f23737; /* Old browsers */
	background: -moz-linear-gradient(top,  #f23737 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f23737), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f23737 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f23737 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f23737 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f23737 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f23737', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-size: 20px;
}
h1, h2, h3 {
	font-family: 'KOMIKAX';
}
p, li {
	font-family: 'Maven Pro', sans-serif;
}
.wrapper {
	padding: 0 1em;
	max-width: 1024px;
	margin: 0 auto;
}
.preloader {
	display: none;
}