.search-form {
	#search {
		border: 3px solid #0078E7;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#searchBtn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;		
	}
}

.search-result {
	position: relative;
	min-height: 280px;
	.preloader {
		position: absolute;
		margin: auto;
		overflow: auto;
		top: 0; left: 0; right: 0; bottom: 0;
	}
	#name {
		text-align: center;
	}	
	background: rgba(255,255,255, .85);
	margin-top: .8em;
	padding: 1em;
	#description {
		margin-left: .5em;
	}
	img {
		border-radius: 50%;
		max-width: 170px;
		margin: 0 auto;
	}
}