.search-form {
	#search {
		border: 3px solid #0078E7;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#searchBtn {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;		
	}
}

.search-result {	
	background: rgba(255,255,255, .85);
	margin-top: 1em;
}